{% extends 'general_template.html' %}

{% block header_extension %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/etalage.css' %}">
    <script src="{% static 'js/bootstrap-rating-input.min.js' %}" type="text/javascript"></script>

    <script src="{% static 'js/jquery.etalage.min.js' %}"></script>
    <script>
        jQuery(document).ready(function ($) {

            $('#etalage').etalage({
                zoom_area_distance: 'none',
                thumb_image_width: 300,
                thumb_image_height: 400,
                source_image_width: 900,
                source_image_height: 1200
            });

            $('.btn-success').click(function () {
                var success = true;
                $('.tick').each(function () {
                    var val = $(this).find('[name^="ticket_num_"]').val();
                    var ticket_no = $(this).find('[name^="ticket_type_"]').val();
                    $.ajax({
                        url: "buy/" +{{ event_id }},
                        method: 'POST',
                        data: {
                            csrfmiddlewaretoken: "{{ csrf_token }}",
                            count: val,
                            ticket_id: ticket_no
                        },
                        success: function (response) {
                        },
                        error: function (xhr) {
                            success = false;
                        }
                    });
                });
                if (success)
                    alert('خرید با موفقیت انجام شد');
                else
                    alert('در خرید برخی بلیط ها مشکل به وجود آمد. برای خرید آنها مجددا تلاش نمایید.');

                {#                delay(2000);#}
            });


        });
    </script>
{% endblock %}
{% block main_content %}

    <!-- content -->
    <section>
        <div class="container">
            <div class="row" style="margin-top: 60px">
                <div class="women_main">
                    <!-- start content -->
                    <div class="row single">
                        <div class="col-md-9 col-md-offset-3 det">
                            <div class="single_left">
                                <div class="grid images_3_of_2 pull-right">
                                    {# TODO: images #}
                                    <ul id="etalage">
                                        <li>
                                            <a href="#">
                                                <img class="etalage_thumb_image img-responsive"
                                                     src="{% static 'images/k1.jpg' %}"/>
                                                <img class="etalage_source_image img-responsive"
                                                     src="{% static 'images/k1.jpg' %}"
                                                     title=""/>
                                            </a>
                                        </li>
                                        <li>
                                            <img class="etalage_thumb_image img-responsive"
                                                 src="{% static 'images/k2.jpg' %}"/>
                                            <img class="etalage_source_image img-responsive"
                                                 src="{% static 'images/k2.jpg' %}"
                                                 title=""/>
                                        </li>
                                        <li>
                                            <img class="etalage_thumb_image img-responsive"
                                                 src="{% static 'images/k3.jpg' %}"/>
                                            <img class="etalage_source_image img-responsive"
                                                 src="{% static 'images/k3.jpg' %}"/>
                                        </li>
                                        <li>
                                            <img class="etalage_thumb_image img-responsive"
                                                 src="{% static 'images/k4.jpg' %}"/>
                                            <img class="etalage_source_image img-responsive"
                                                 src="{% static 'images/k4.jpg' %}"/>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="desc1 span_3_of_2 pull-left">
                                    {% if user.is_authenticated %}
                                        <div id="rating_avg">{{ event.get_rate_avg }}</div>
                                        <input type="number" name="rating" id="id_rating"
                                               class="rating"
                                               data-clearable="حذف" data-icon-lib="fa"
                                               data-active-icon="fa-heart"
                                               data-inactive-icon="fa-heart-o"
                                               data-clearable-icon="fa-trash-o"/>
                                    {% endif %}

                                    <h3 style="color: skyblue!important;">
                                        {{ event.title }}
                                    </h3>
                                        <span class="code">
                                            {{ event.venue }}
                                        </span>

                                    <p style="color: #f5f5f5!important;">
                                        {{ event.description }}
                                    </p>
                                    <br>

                                    <form>
                                        <ul>
                                            {% for ticket in event.ticket_set.all %}
                                                <li class="tick">
                                                    <h3 style="color: whitesmoke">{{ ticket.type }}</h3>
                                                    <span class="text">قیمت:</span>
                                                    <span class="price-new">{{ ticket.price }}﷼</span>
                                                    <br>
                                                    <span class="text">تعداد:</span>

                                                    <input class="hidden"
                                                           value="{{ ticket.id }}"
                                                           name="ticket_type_{{ ticket.id }}">
                                                    <input class="input-small" type="number"
                                                           value="0"
                                                           name="ticket_num_{{ ticket.id }}"
                                                           style="color: #000000">
                                                    <br>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                        <div class="btn_form">
                                            <button type="submit" class="btn btn-success">خرید
                                            </button>
                                            {% if user.is_authenticated %}
                                                <span class="fa {% if event in user.userprofile.favorites.all %}fa-star filled-star{% else %}fa-star-o{% endif %}"
                                                      data-rating="1" id="favorite-star"
                                                      title="افزودن به علاقه مندی ها"></span>
                                            {% endif %}
                                        </div>
                                    </form>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <!-- end content -->
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block end_extra %}
    <script src="../static/js/jquery-1.11.1.min.js"></script>
    <script src="../static/js/price-range.js"></script>
    <script src="../static/js/jquery.scrollUp.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.prettyPhoto.js"></script>
    <script src="../static/js/main.js"></script>
    <script>
        $('#favorite-star').on('click', function () {
            fav_btn = $(this);
            $.ajax({
                url: "/favorite/" + {{ event.id }},
                success: function (result) {
                    if (fav_btn.hasClass('fa-star-o')) {
                        fav_btn.removeClass('fa-star-o');
                        fav_btn.addClass('fa-star filled-star');
                        fav_btn.attr('title', 'حذف از لیست علاقه مندی ها');
                        alert('با موفقیت به لیست علاقه مندی ها اضافه شد');
                    } else {
                        fav_btn.removeClass('fa-star filled-star');
                        fav_btn.addClass('fa-star-o');
                        fav_btn.attr('title', 'افزودن به لیست علاقه مندی ها');
                        alert('با موفقیت از لیست علاقه مندی ها حذف گردید.')
                    }
                }
            });
        });
        var event_id = {{ event.id }};
        $(document).ready(function () {
            $("###rating-input").on("click", function () {
                rate_btn = $(this);
                $.ajax({
                    url: "/rate/" + event_id,
                    data: {
                        value: rate_btn.attr('data-value')
                    },
                    success: function (result) {
                        alert("رای شما با موفقیت ثبت شد.");
                    }
                });
            });
        });
    </script>

{% endblock %}
