{% extends 'admin_template.html' %}

{% block header_extension %}
    {% load static %}
{% endblock %}

{% block main_content %}
    <div class="arriv">
    <div class="container" style="padding-top: 50px; padding-bottom: 50px;">
    <div class="container col-md-6">
        <h2>
            وضعیت بلیت‌ها
        </h2>
        <div class="">
            <table class="table">
                <thead>
                <th class="text-right">
                    نوع بلیت
                </th>
                <th class="text-right">
قیمت
                </th>
                <th class="text-right">
                    ظرفیت
                </th>
                <th class="text-right">
                    تعداد فروخته‌شده
                </th>
                </thead>
                <tbody>
                {% for t in tickets %}
                    <tr>
                    <td>
                        {{ t.type }}
                    </td>
                    <td>
                        {{ t.price }}
                    </td>
                    <td>
                        {{ t.capacity }}
                    </td>
                    <td>
                        {{ t.sold }}
                    </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="">
            <h3>
                افزودن بلیت جدید
            </h3>
            <form method="post">
                {% csrf_token %}
                {{ ticket_form.as_table }}
                <div>
                <button type="submit" class="btn btn-primary" name="add-ticket">
                    اضافه کن
                </button>
                </div>
            </form>
        </div>
    </div>

    <div class="container col-md-6">
        <div class="">
            <img src="{% static "images/events/" %}{{ event.id }}.jpg" alt="پوستری برای این رویداد در نظر نگرفته‌اید." class="img-rounded" height="250px">
        </div>
        <div>
            <form id="image-form" method="post" action="/upload-poster/{{ event.id }}/" enctype="multipart/form-data">
                {% csrf_token %}
                {{ upload_image_form.as_table }}
                <button type="submit">Save picture</button>
            </form>
        </div>
        <div class="">
            <dl class="">
                <dt>
عنوان
                </dt>
                <dd>
                    {{ event.title }}
                </dd>
                <dt>
                    دسته
                </dt>
                <dd>
                    {{ event.type.name }}
                </dd>
                <dt>
                    زیردسته
                </dt>
                <dd>
                    {{ event.sub_type.name }}
                </dd>
            </dl>
        </div>
        <div>
            <form method="post">
                {% csrf_token %}
                {{ update_event_form.as_table }}
                <div>
                <button type="submit" class="btn btn-primary" name="update-event">
ثبت تغییرات
                </button>
                </div>
            </form>

        </div>
    </div>

    </div>
    </div>
{% endblock %}