{% extends 'general_template.html' %}

{% block header_extension %}
    {% load static %}
{% endblock %}

{% block main_content %}
    <section>
        <div class="container">
            <a href="/type/{{ c_type.id }}" class="type_header"><h1 class="type_header">{{ c_type.name }}</h1></a>
            <h3 style="margin-right: 20px">{{ c_subtype.name }}</h3>
            <div class="row">
                <div class="col-sm-12">
                    <div class="special">
                        <div class="container">
                            {% if empty == 1 %}
                                متاسفانه هنوز رویدادی
برای زیردسته‌ی
{{ c_subtype.name }}
از دسته‌ی
                               {{ c_type.name }}
                               وجود ندارد.
                            {% endif %}
                            <ul class="grid_2">
                                {% for event in events %}

                                    <li class="pull-right">
                                        <div>
                                            <a href="/event/{{ event.id }}" class="portfolio-link">
                                                <div class="caption">
                                                    <div class="caption-content">
                                                        <p>
                                                            <i class="fa fa-calendar"></i>
                                                            {{ event.date }}
                                                            <br>
                                                            <i class="fa fa-clock-o"></i>
                                                            {{ event.time }}
                                                        </p>
                                                    </div>
                                                </div>
                                                {% with event.id|stringformat:"s" as id %}
                                                    <img src="{% static 'images/events/'|add:id|add:'.jpg' %}"
                                                         class="img-responsive" alt="">
                                                {% endwith %}
                                            </a>
                                        </div>
                                        <div class="special-info grid_1 simpleCart_shelfItem">
                                            <div class="price">
                                                <div class="item_add">
                                    <span class="item_price">
                                        <h6 class="meta">{{ event.title }}</h6>
                                    </span>
                                                </div>
                                            </div>
                                            <div class="location pull-left">
                                                <a style="padding-left: 5px" data-toggle="popover"
                                                   data-placement="bottom"
                                                   data-content="{{ event.venue.address }}">
                                                    <i class="fa fa-2x fa-map-marker"></i>
                                                </a>
                                                <a href="/checkout" style="padding-left: 5px">
                                                    <i class="fa fa-2x fa-cart-plus"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    {% if forloop.counter|divisibleby:4 %}

                                        <div class="clearfix" style="padding-bottom: 10px"></div>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            <!--</div>
                        </div>-->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}