{% extends 'general_template.html' %}

{% block header_extension %}
    {% load static %}
    <meta charset="UTF-8">
    <title></title>
    <style>
        .header {
            background: -webkit-linear-gradient(right, #001030, blue); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(right,#001030, blue); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(right,#001030, blue); /* For Firefox 3.6 to 15 */
            background: linear-gradient(right,#001030, blue); /* Standard syntax */
        }

        .ticket-container{
            padding-top: 50px;
        }

        .stub{
            border-left: dashed 3px;
            background-color: darkgray;
        }

        .ticket-body{
            text-align: center;
        }
    </style>
{% endblock %}

{% block main_content %}
    <div class="container ticket-container">
        <div class="col-md-12 row" style="border:1px solid #000000;">
            <div class="row header">
                <img src="{% static "images/logo-small.png" %}">
        </div>
            <div class="row">
                <div class="col-md-2 bar-code">
                    <img src="{% static "images/qr.png" %}" width="100%">
                </div>
                <div class="col-md-7 ticket-body">
                        <h3>
                            {{ ticket.ticket.event.title }}
                        </h3>
                        <h4>
مکان:
                            {{ ticket.ticket.event.venue.name }}
                        </h4>
                        <p>
آدرس:
                            {{ ticket.ticket.event.venue.address }}
                        </p>
                        <p>
                        تاریخ:
                            {{ ticket.ticket.event.date }}
                        </p>
                        <p>
                            زمان:
                            {{ ticket.ticket.event.time }}
                        </p>
                        <p>
                            جایگاه:
                            {{ ticket.ticket.type }}
                        </p>
                    </div>
                <div class="col-md-3 stub">
                    <p>
شماره بلیت:
                        {{ ticket.payment.code }}
                    </p>
                    <p>
رویداد:
                        {{ ticket.ticket.event.title }}
                    </p>
                    <p>
                    تاریخ:
                        {{ ticket.ticket.event.date }}
                    </p>
                    <p>
                        زمان:
                        {{ ticket.ticket.event.time }}
                    </p>
                    <p>
                        جایگاه:
                        {{ ticket.ticket.type }}
                    </p>
                    </div>
            <div class="clearfix visible-md"></div>
            </div>
        </div>
    </div>
{% endblock %}
