{% extends 'general_template.html' %}

{% block header_extension %}
    {% load static %}
    <link href="{% static "form_style.css" %}" rel="stylesheet">
{% endblock %}

{% block main_content %}
    <div class="arriv">
    <div class="container">
        <div class="container col-md-6" style="margin-top: 200px">
            {% if is_admin %}
            <a class="btn btn-default" href="/management/" role="button">
صفحه‌ی مدیریت
            </a>
            {% else %}
            <a class="btn btn-default" href="/my-tickets/" role="button">
                بلیت‌های خریداری‌شده
            </a>
            {% endif %}
        </div>
        <div class="container col-md-6">
            <dl>
                <dt>
        نام کاربری:
                </dt>
                <dd>
                    {{ user.username }}
                </dd>
                <dt>
                    ایمیل:
                </dt>
                <dd>
                    {{ user.email }}
                </dd>
            </dl>
            <div>
                <div style="text-align: center; color: green">{{ success_message }}</div>
                <form method="post">
                    {% csrf_token %}
                    <div class="error-message">{{ user_update_form.non_field_errors }}</div>
                    {% for field in user_update_form %}
                        <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                        {{ field.errors }}
                        </div>
                    {% endfor %}
                    <div>
                    <button type="submit" class="btn btn-primary">
    ثبت تغییرات
                    </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>

{% endblock %}